.light {
  --bi-sys-color-primary: hsl(256.42857142857144 48% 40%);
  --bi-sys-color-on-primary: hsl(256.42857142857144 48% 100%);
  --bi-sys-color-primary-container: hsl(256.42857142857144 48% 90%);
  --bi-sys-color-on-primary-container: hsl(256.42857142857144 48% 10%);
  --bi-sys-color-secondary: hsl(256.42857142857144 13.770491803278691% 40%);
  --bi-sys-color-on-secondary: hsl(256.42857142857144 13.770491803278691% 100%);
  --bi-sys-color-secondary-container: hsl(256.42857142857144 13.770491803278691% 90%);
  --bi-sys-color-on-secondary-container: hsl(256.42857142857144 13.770491803278691% 10%);
  --bi-sys-color-tertiary: hsl(316.42857142857144 20.655737704918035% 40%);
  --bi-sys-color-on-tertiary: hsl(316.42857142857144 20.655737704918035% 100%);
  --bi-sys-color-tertiary-container: hsl(316.42857142857144 20.655737704918035% 90%);
  --bi-sys-color-on-tertiary-container: hsl(316.42857142857144 20.655737704918035% 10%);
  --bi-sys-color-error: hsl(25 65% 40%);
  --bi-sys-color-on-error: hsl(25 65% 100%);
  --bi-sys-color-error-container: hsl(25 65% 90%);
  --bi-sys-color-on-error-container: hsl(25 65% 10%);
  --bi-sys-color-background: hsl(256.42857142857144 8% 99%);
  --bi-sys-color-on-background: hsl(256.42857142857144 8% 10%);
  --bi-sys-color-surface: hsl(256.42857142857144 8% 98%);
  --bi-sys-color-on-surface: hsl(256.42857142857144 8% 10%);
  --bi-sys-color-surface-variant: hsl(256.42857142857144 16% 90%);
  --bi-sys-color-on-surface-variant: hsl(256.42857142857144 16% 30%);
  --bi-sys-color-outline: hsl(256.42857142857144 16% 50%);
  --bi-sys-color-outline-variant: hsl(256.42857142857144 16% 80%);
  --bi-sys-color-inverse-surface: hsl(256.42857142857144 8% 20%);
  --bi-sys-color-inverse-on-surface: hsl(256.42857142857144 8% 95%);
  --bi-sys-color-inverse-primary: hsl(256.42857142857144 48% 80%);
  --bi-sys-color-surface-dim: hsl(256.42857142857144 8% 87%);
  --bi-sys-color-surface-bright: hsl(256.42857142857144 8% 98%);
  --bi-sys-color-surface-container-lowest: hsl(256.42857142857144 8% 100%);
  --bi-sys-color-surface-container-low: hsl(256.42857142857144 8% 96%);
  --bi-sys-color-surface-container: hsl(256.42857142857144 8% 94%);
  --bi-sys-color-surface-container-high: hsl(256.42857142857144 8% 92%);
  --bi-sys-color-surface-container-highest: hsl(256.42857142857144 8% 90%);
}

.dark {
  --bi-sys-color-primary: hsl(256.42857142857144 48% 80%);
  --bi-sys-color-on-primary: hsl(256.42857142857144 48% 20%);
  --bi-sys-color-primary-container: hsl(256.42857142857144 48% 30%);
  --bi-sys-color-on-primary-container: hsl(256.42857142857144 48% 90%);
  --bi-sys-color-secondary: hsl(256.42857142857144 13.770491803278691% 80%);
  --bi-sys-color-on-secondary: hsl(256.42857142857144 13.770491803278691% 20%);
  --bi-sys-color-secondary-container: hsl(256.42857142857144 13.770491803278691% 30%);
  --bi-sys-color-on-secondary-container: hsl(256.42857142857144 13.770491803278691% 90%);
  --bi-sys-color-tertiary: hsl(316.42857142857144 20.655737704918035% 80%);
  --bi-sys-color-on-tertiary: hsl(316.42857142857144 20.655737704918035% 20%);
  --bi-sys-color-tertiary-container: hsl(316.42857142857144 20.655737704918035% 30%);
  --bi-sys-color-on-tertiary-container: hsl(316.42857142857144 20.655737704918035% 90%);
  --bi-sys-color-error: hsl(25 65% 80%);
  --bi-sys-color-on-error: hsl(25 65% 20%);
  --bi-sys-color-error-container: hsl(25 65% 30%);
  --bi-sys-color-on-error-container: hsl(25 65% 90%);
  --bi-sys-color-background: hsl(256.42857142857144 8% 10%);
  --bi-sys-color-on-background: hsl(256.42857142857144 8% 90%);
  --bi-sys-color-surface: hsl(256.42857142857144 8% 20%);
  --bi-sys-color-on-surface: hsl(256.42857142857144 8% 90%);
  --bi-sys-color-surface-variant: hsl(256.42857142857144 16% 30%);
  --bi-sys-color-on-surface-variant: hsl(256.42857142857144 16% 80%);
  --bi-sys-color-outline: hsl(256.42857142857144 16% 60%);
  --bi-sys-color-outline-variant: hsl(256.42857142857144 16% 30%);
  --bi-sys-color-inverse-surface: hsl(256.42857142857144 8% 90%);
  --bi-sys-color-inverse-on-surface: hsl(256.42857142857144 8% 20%);
  --bi-sys-color-inverse-primary: hsl(256.42857142857144 48% 40%);
  --bi-sys-color-surface-dim: hsl(256.42857142857144 8% 6%);
  --bi-sys-color-surface-bright: undefined;
  --bi-sys-color-surface-container-lowest: hsl(256.42857142857144 8% 4%);
  --bi-sys-color-surface-container-low: hsl(256.42857142857144 8% 10%);
  --bi-sys-color-surface-container: hsl(256.42857142857144 8% 12%);
  --bi-sys-color-surface-container-high: hsl(256.42857142857144 8% 17%);
  --bi-sys-color-surface-container-highest: hsl(256.42857142857144 8% 22%);
}

.light-medium-contrast {
  --bi-sys-color-primary: hsl(256.42857142857144 48% 40%);
  --bi-sys-color-on-primary: hsl(256.42857142857144 48% 100%);
  --bi-sys-color-primary-container: hsl(256.42857142857144 48% 95%);
  --bi-sys-color-on-primary-container: undefined;
  --bi-sys-color-secondary: hsl(256.42857142857144 13.770491803278691% 40%);
  --bi-sys-color-on-secondary: hsl(256.42857142857144 13.770491803278691% 100%);
  --bi-sys-color-secondary-container: hsl(256.42857142857144 13.770491803278691% 95%);
  --bi-sys-color-on-secondary-container: undefined;
  --bi-sys-color-tertiary: hsl(316.42857142857144 20.655737704918035% 40%);
  --bi-sys-color-on-tertiary: hsl(316.42857142857144 20.655737704918035% 100%);
  --bi-sys-color-tertiary-container: hsl(316.42857142857144 20.655737704918035% 95%);
  --bi-sys-color-on-tertiary-container: undefined;
  --bi-sys-color-error: hsl(25 65% 40%);
  --bi-sys-color-on-error: hsl(25 65% 100%);
  --bi-sys-color-error-container: hsl(25 65% 95%);
  --bi-sys-color-on-error-container: undefined;
  --bi-sys-color-background: hsl(256.42857142857144 8% 99%);
  --bi-sys-color-on-background: hsl(256.42857142857144 8% 10%);
  --bi-sys-color-surface: hsl(256.42857142857144 8% 98%);
  --bi-sys-color-on-surface: hsl(256.42857142857144 8% 10%);
  --bi-sys-color-surface-variant: hsl(256.42857142857144 16% 90%);
  --bi-sys-color-on-surface-variant: hsl(256.42857142857144 16% 30%);
  --bi-sys-color-outline: hsl(256.42857142857144 16% 50%);
  --bi-sys-color-outline-variant: hsl(256.42857142857144 16% 80%);
  --bi-sys-color-inverse-surface: hsl(256.42857142857144 8% 20%);
  --bi-sys-color-inverse-on-surface: hsl(256.42857142857144 8% 95%);
  --bi-sys-color-inverse-primary: hsl(256.42857142857144 48% 80%);
  --bi-sys-color-surface-dim: hsl(256.42857142857144 8% 87%);
  --bi-sys-color-surface-bright: hsl(256.42857142857144 8% 98%);
  --bi-sys-color-surface-container-lowest: hsl(256.42857142857144 8% 100%);
  --bi-sys-color-surface-container-low: hsl(256.42857142857144 8% 96%);
  --bi-sys-color-surface-container: hsl(256.42857142857144 8% 94%);
  --bi-sys-color-surface-container-high: hsl(256.42857142857144 8% 92%);
  --bi-sys-color-surface-container-highest: hsl(256.42857142857144 8% 90%);
}

.dark-medium-contrast {
  --bi-sys-color-primary: hsl(256.42857142857144 48% 80%);
  --bi-sys-color-on-primary: hsl(256.42857142857144 48% 20%);
  --bi-sys-color-primary-container: undefined;
  --bi-sys-color-on-primary-container: undefined;
  --bi-sys-color-secondary: hsl(256.42857142857144 13.770491803278691% 80%);
  --bi-sys-color-on-secondary: hsl(256.42857142857144 13.770491803278691% 20%);
  --bi-sys-color-secondary-container: undefined;
  --bi-sys-color-on-secondary-container: undefined;
  --bi-sys-color-tertiary: hsl(316.42857142857144 20.655737704918035% 80%);
  --bi-sys-color-on-tertiary: hsl(316.42857142857144 20.655737704918035% 20%);
  --bi-sys-color-tertiary-container: undefined;
  --bi-sys-color-on-tertiary-container: undefined;
  --bi-sys-color-error: hsl(25 65% 80%);
  --bi-sys-color-on-error: hsl(25 65% 20%);
  --bi-sys-color-error-container: undefined;
  --bi-sys-color-on-error-container: undefined;
  --bi-sys-color-background: hsl(256.42857142857144 8% 10%);
  --bi-sys-color-on-background: hsl(256.42857142857144 8% 90%);
  --bi-sys-color-surface: hsl(256.42857142857144 8% 20%);
  --bi-sys-color-on-surface: hsl(256.42857142857144 8% 90%);
  --bi-sys-color-surface-variant: hsl(256.42857142857144 16% 30%);
  --bi-sys-color-on-surface-variant: hsl(256.42857142857144 16% 80%);
  --bi-sys-color-outline: hsl(256.42857142857144 16% 60%);
  --bi-sys-color-outline-variant: hsl(256.42857142857144 16% 30%);
  --bi-sys-color-inverse-surface: hsl(256.42857142857144 8% 90%);
  --bi-sys-color-inverse-on-surface: hsl(256.42857142857144 8% 20%);
  --bi-sys-color-inverse-primary: hsl(256.42857142857144 48% 40%);
  --bi-sys-color-surface-dim: hsl(256.42857142857144 8% 6%);
  --bi-sys-color-surface-bright: undefined;
  --bi-sys-color-surface-container-lowest: hsl(256.42857142857144 8% 4%);
  --bi-sys-color-surface-container-low: hsl(256.42857142857144 8% 10%);
  --bi-sys-color-surface-container: hsl(256.42857142857144 8% 12%);
  --bi-sys-color-surface-container-high: hsl(256.42857142857144 8% 17%);
  --bi-sys-color-surface-container-highest: hsl(256.42857142857144 8% 22%);
}

.light-high-contrast {
  --bi-sys-color-primary: hsl(256.42857142857144 48% 40%);
  --bi-sys-color-on-primary: hsl(256.42857142857144 48% 100%);
  --bi-sys-color-primary-container: hsl(256.42857142857144 48% 100%);
  --bi-sys-color-on-primary-container: hsl(256.42857142857144 48% 20%);
  --bi-sys-color-secondary: hsl(256.42857142857144 13.770491803278691% 40%);
  --bi-sys-color-on-secondary: hsl(256.42857142857144 13.770491803278691% 100%);
  --bi-sys-color-secondary-container: hsl(256.42857142857144 13.770491803278691% 100%);
  --bi-sys-color-on-secondary-container: hsl(256.42857142857144 13.770491803278691% 20%);
  --bi-sys-color-tertiary: hsl(316.42857142857144 20.655737704918035% 40%);
  --bi-sys-color-on-tertiary: hsl(316.42857142857144 20.655737704918035% 100%);
  --bi-sys-color-tertiary-container: hsl(316.42857142857144 20.655737704918035% 100%);
  --bi-sys-color-on-tertiary-container: hsl(316.42857142857144 20.655737704918035% 20%);
  --bi-sys-color-error: hsl(25 65% 40%);
  --bi-sys-color-on-error: hsl(25 65% 100%);
  --bi-sys-color-error-container: hsl(25 65% 100%);
  --bi-sys-color-on-error-container: hsl(25 65% 20%);
  --bi-sys-color-background: hsl(256.42857142857144 8% 99%);
  --bi-sys-color-on-background: hsl(256.42857142857144 8% 10%);
  --bi-sys-color-surface: hsl(256.42857142857144 8% 98%);
  --bi-sys-color-on-surface: hsl(256.42857142857144 8% 10%);
  --bi-sys-color-surface-variant: hsl(256.42857142857144 16% 90%);
  --bi-sys-color-on-surface-variant: hsl(256.42857142857144 16% 30%);
  --bi-sys-color-outline: hsl(256.42857142857144 16% 50%);
  --bi-sys-color-outline-variant: hsl(256.42857142857144 16% 80%);
  --bi-sys-color-inverse-surface: hsl(256.42857142857144 8% 20%);
  --bi-sys-color-inverse-on-surface: hsl(256.42857142857144 8% 95%);
  --bi-sys-color-inverse-primary: hsl(256.42857142857144 48% 80%);
  --bi-sys-color-surface-dim: hsl(256.42857142857144 8% 87%);
  --bi-sys-color-surface-bright: hsl(256.42857142857144 8% 98%);
  --bi-sys-color-surface-container-lowest: hsl(256.42857142857144 8% 100%);
  --bi-sys-color-surface-container-low: hsl(256.42857142857144 8% 96%);
  --bi-sys-color-surface-container: hsl(256.42857142857144 8% 94%);
  --bi-sys-color-surface-container-high: hsl(256.42857142857144 8% 92%);
  --bi-sys-color-surface-container-highest: hsl(256.42857142857144 8% 90%);
}

.dark-high-contrast {
  --bi-sys-color-primary: hsl(256.42857142857144 48% 80%);
  --bi-sys-color-on-primary: hsl(256.42857142857144 48% 20%);
  --bi-sys-color-primary-container: hsl(256.42857142857144 48% 20%);
  --bi-sys-color-on-primary-container: hsl(256.42857142857144 48% 80%);
  --bi-sys-color-secondary: hsl(256.42857142857144 13.770491803278691% 80%);
  --bi-sys-color-on-secondary: hsl(256.42857142857144 13.770491803278691% 20%);
  --bi-sys-color-secondary-container: hsl(256.42857142857144 13.770491803278691% 20%);
  --bi-sys-color-on-secondary-container: hsl(256.42857142857144 13.770491803278691% 80%);
  --bi-sys-color-tertiary: hsl(316.42857142857144 20.655737704918035% 80%);
  --bi-sys-color-on-tertiary: hsl(316.42857142857144 20.655737704918035% 20%);
  --bi-sys-color-tertiary-container: hsl(316.42857142857144 20.655737704918035% 20%);
  --bi-sys-color-on-tertiary-container: hsl(316.42857142857144 20.655737704918035% 80%);
  --bi-sys-color-error: hsl(25 65% 80%);
  --bi-sys-color-on-error: hsl(25 65% 20%);
  --bi-sys-color-error-container: hsl(25 65% 20%);
  --bi-sys-color-on-error-container: hsl(25 65% 80%);
  --bi-sys-color-background: hsl(256.42857142857144 8% 10%);
  --bi-sys-color-on-background: hsl(256.42857142857144 8% 90%);
  --bi-sys-color-surface: hsl(256.42857142857144 8% 20%);
  --bi-sys-color-on-surface: hsl(256.42857142857144 8% 90%);
  --bi-sys-color-surface-variant: hsl(256.42857142857144 16% 30%);
  --bi-sys-color-on-surface-variant: hsl(256.42857142857144 16% 80%);
  --bi-sys-color-outline: hsl(256.42857142857144 16% 60%);
  --bi-sys-color-outline-variant: hsl(256.42857142857144 16% 30%);
  --bi-sys-color-inverse-surface: hsl(256.42857142857144 8% 90%);
  --bi-sys-color-inverse-on-surface: hsl(256.42857142857144 8% 20%);
  --bi-sys-color-inverse-primary: hsl(256.42857142857144 48% 40%);
  --bi-sys-color-surface-dim: hsl(256.42857142857144 8% 6%);
  --bi-sys-color-surface-bright: undefined;
  --bi-sys-color-surface-container-lowest: hsl(256.42857142857144 8% 4%);
  --bi-sys-color-surface-container-low: hsl(256.42857142857144 8% 10%);
  --bi-sys-color-surface-container: hsl(256.42857142857144 8% 12%);
  --bi-sys-color-surface-container-high: hsl(256.42857142857144 8% 17%);
  --bi-sys-color-surface-container-highest: hsl(256.42857142857144 8% 22%);
}